@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-image: url("C:\Users\shrey\Downloads\dark2.jpg") ; */
  background-color: grey;

}

.box {
  max-width: 100%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid rgb(89, 99, 107); */
  padding: 30px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  display: block;

  
}
.task-parent{
  display: inline-flex;
}

.headr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: all 0.3s ease;
}


.btn:focus {
  outline: none;
}

.btn:active {
  transform:scale(1.2) ;
  
}

.btn-block {
  display: block;
  width: 20%;
  margin-left: 40%;
}

.task {
  border: solid black 0.1px;
  width: 200px;
  height: 100px;
  margin: 5px;
  text-align: justify;
  padding: 10px 20px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.task:hover{
  transform: scale(1.05);
  transform-origin: center;
}

.task.reminder {
  transition: all 0.3s linear;
  border-top: 5px solid green;
  background-color: blueviolet;
  color: white;
}
.task.reminder:hover{
  transform: scale(1.05);
}


.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
  max-height: 50%;
  max-width: 100%;
  transition: max-height 1s ease;

}

.form-control {
  margin: 20px 0;
  display: inline-block;
  width: 50%;
  justify-content: center;
  padding: 3px;

}
.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}